
/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', sans-serif;
}

body {
  background: linear-gradient(135deg, #000000 0%, #003366 100%);
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

/* Header */
.header {
  margin-top: 10vh;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;

}

/* Navegación */
.nav-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  padding: 20px;

}

.nav-btn {
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 0 10px;


  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  border-bottom: red solid 5px;
  transform: scale(1.05);
}

.nav-btn:active {
  transform: scale(0.98);
}

/* Contenedor */
.container {
  padding: 40px 20px;
  overflow: hidden;
  height: calc(100vh - 120px);
}

/* Sección de contenido */
.section {
  display: flex;
  justify-content: center;
  
  display: none;
  max-width: 60%;
  margin: 20px 0;
}

.section:not(.hidden) {
  display: block;
}

/* Títulos */
h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Formularios */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  font-size: 1rem;
  margin: 5px 0;
  border-radius: 10px;
  transition: border 0.3s;
  background: #222;
  color: white;
}

input:focus {
  outline: none;
  border-color: red;
}

button[type="submit"] {
  background: red;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: background 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
  background: #003366;
  transform: scale(1.05);
}

button[type="submit"]:active {
  transform: scale(0.98);
}

/* Lista de pilotos */
#pilotosList {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pilotosList li {
  background: #1c1c1c;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  font-size: 1.1rem;
  font-weight: 500;
  transition: background 0.3s, transform 0.2s;
}

#pilotosList li:hover {
  background: #ff5500;
  transform: scale(1.05);
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  font-size: 0.9rem;
}

.tittlePilotoG{
  color: white;
  margin-top: 18vh;
  font-size: 1;
}