* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: url('https://wallpapers.com/images/featured/formula-1-background-x9drseeu2bb90oci.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .login-box {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #F1F1F1;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: #e60012;
    padding: 10px;
    border-radius: 5px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    font-size: 1.1em;
    border-radius: 5px 5px 0 0;
  }
  
  .tab-button.active {
    background-color: #e60012;
  }
  
  .form-content {
    display: block; /* Mostrar los formularios por defecto */
  }
  
  .form-content.hidden {
    display: none; /* Solo ocultar el formulario inactivo */
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #e60012;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #b3000c;
  }
  
  .footer {
    margin-top: 15px;
  }
  
  .footer a {
    color: #e60012;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  