

/* Contenido del modal */
.modal-content {
display: flex;
flex-direction: column;
width: 100%;
max-height: 100%;
overflow-y: auto;
padding: 20px;
}





/* Título */
.modal-content h2 {
font-size: 30px;
font-weight: bold;
color: #ff2020;
text-align: center;
margin-bottom: 20px;
text-transform: uppercase;
}

.close {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  color: red;
  transition: 0.3s ease-in;
}

.close:hover {
  color: #ff2020;
  transform: scale(1.1);
}

/* Título */
.modal-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #ff2020;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Layout del formulario */
.form-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-between;
}

/* Cada input ocupa el 50% del ancho */
.form-group {
width: 48%;
display: flex;
flex-direction: column;
height: 10%;
}

/* Label estilizado */
.form-group label {
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;
color: #ccc;
}

/* Estilos de los inputs */
.form-group input,
.form-group select,
.form-group textarea {
width: 100%;
padding: 12px;
border: none;
border-radius: 8px;
background-color: #4d4d4d;
color: white;
font-size: 12px;
transition: 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
background: rgba(255, 255, 255, 0.2);
outline: none;
transform: scale(1.02);
}

/* Botón del formulario */
.submit-btn {
width: 40%;
margin-left: 30%;
padding: 14px;
margin-top: 20px;
border: none;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
font-size: 18px;
background: linear-gradient(45deg, #ff2020, #a00000);
color: white;
transition: background 0.3s, transform 0.2s;
}

.submit-btn:hover {
background: linear-gradient(45deg, #a00000, #700000);
transform: scale(1.05);
}




/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
.modal-content {
    width: 90%;
    max-height: 80vh;
}

.modal-content input {
    width: 70%;
}
}


.modal-overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
backdrop-filter: blur(10px);
z-index: 1000;
}


/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 2px;  /* Ancho de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #ff2020;  /* Color del pulgar */
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.3);  /* Borde del pulgar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);  /* Color de la pista */
  border-radius: 10px;
}

/* Personalización de la barra de desplazamiento en el modal */
.modal-content {
  overflow-y: auto;  /* Permite el desplazamiento vertical */
}

/* Barra de desplazamiento */
.modal-content::-webkit-scrollbar {
  width: 8px;  /* Ancho de la barra */
}

/* Pulgar de la barra */
.modal-content::-webkit-scrollbar-thumb {
  background-color: #ff2020;  /* Color del pulgar */
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.3);  /* Borde del pulgar */
}

/* Pista de la barra */
.modal-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);  /* Color de la pista */
  border-radius: 10px;
}

/* Ajustes para Firefox */
.modal-content {
  scrollbar-color: #ff2020 rgba(255, 255, 255, 0.1);
  scrollbar-width: thin;  
}


.busquedaEdit {
  display: flex;
  flex-direction: row;
  align-items: start; 
  justify-content: space-between;
  gap: 20px; 
  width: 60%;
  margin-left: 20%
}

.busquedaEdit .form-group {
  flex: 1; /* Asegura que los campos de input ocupen el mismo espacio */
}

.busquedaEdit button {
  padding: 10px 20px; /* Ajusté el tamaño del padding para hacerlo más pequeño */
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; /* Reducí el tamaño de la fuente */
  background: linear-gradient(45deg, #ff2020, #a00000);
  color: white;
  transition: background-color 0.3s ease; /* Agregué transición para un efecto suave */
}

.busquedaEdit button:hover {
  background-color: #b50000; /* Cambié el color al pasar el mouse */
}

.modalDelete{
  height: 40%;
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background: rgba(15, 15, 15, 0.95);
  border-radius: 14px;
  padding: 30px;
  color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title h1 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
}

.title p {
  font-size: 14px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #ff0000;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title h1 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
}

.title p {
  font-size: 14px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #ff0000;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 80%;
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  background: rgba(15, 15, 15, 0.95);
  border-radius: 14px;
  padding: 30px;
  color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
}

* Título */
.modal-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #ff2020;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Layout del formulario */
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Cada input ocupa el 50% del ancho */
.form-group {
  width: 48%;
  display: flex;
  flex-direction: column;
  height: 10%;
}

/* Label estilizado */
.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ccc;
}

/* Estilos de los inputs */
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4d4d4d;
  color: white;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  background: #4d4d4d;
  outline: none;
  transform: scale(1.02);
}

.selectContainer{
  background-color: #4d4d4d;
}