<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1</title>
    <script type="module" src="/app.js" defer></script>
    <link rel="icon" type="image/svg+xml" href="../../src/img/image.png" />
    <link rel="stylesheet" href="../../src/styles/menu.css">
</head>
<body>
    <audio id="miAudio" autoplay loop>
        <source src="../../src/img/F1.mp3" type="audio/mpeg">
        Tu navegador no soporta el audio.
      </audio>
    <menu-adm-d></menu-adm-d>

    <script src="../../src/controllers/menucontroler.js"></script>
</body>
</html>