<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Schedule 2025</title>
    <link rel="stylesheet" href="../styles/autostyles.css">
    <script type="module" src="/app.js" defer></script>
    <link rel="icon" type="image/svg+xml" href="../../src/img/image.png" />
</head>
<body>
    <audio id="miAudio" autoplay loop>
        <source src="../img/F1.mp4" type="audio/mpeg">
        Tu navegador no soporta el audio.
      </audio>
   <autos-d></autos-d>
    <script src="../controllers/Autos.js"></script>
</body>
</html>